{% extends "layout.html" %}
{% block body %}

<div class="mybox" id="user-profile">
    <li>
        <h2><i class="bi bi-person-fill"></i>&nbsp; {{ session['username'] }}</h2>
        <a href="/logout" type="button" class="btn btn-danger"><i class="bi bi-box-arrow-left"></i> Logout</a>
    </li>
    
</div>

<div class="mybox" id="">
    <div class="mybucket">
        <input type="date" class="form-control" name="tanggal" id="tanggal">
        <input type="time" class="form-control" name="jam" id="jam">
       
        <button onclick="save()" type="button" class="btn btn-outline-primary">Save</button>
    </div>
</div>

<div class="mybox" id="bucket-list">
    
</div>
{% endblock %}